* {
  box-sizing: border-box;
}

body {
  background-color:#3B6157;
  padding: 50px;
}


/* nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
} */

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

}
.navigation {
  height: 60px;
}
button {
	background:linear-gradient(to bottom, #B0887B 5%, #7AADA0 100%);
	border-radius:5px;
	color:black;
	font-size:20px;
	padding:6px 21px;
  text-decoration:none;
  font-family: 'Oleo Script', cursive;


}



header {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font: 30px;
}
h1 {
  font-size: 90px;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #7AADA0;
  text-align: center;
  padding: 30px;
}
.name-header {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  padding-top: 50px;
  font-size: 70px;
  color:#B0887B;
}
.menu {
  display: none;
  list-style-type: none;
  display: flex; 
  justify-content: space-evenly;
  padding: 5px 5px 5px 0;
  color: white;
}
.menu ul {
padding-top: 0px;
}
.menu li{
  margin-right: 20px;
  color: white;
  font-weight: bold;
  padding: 15px;

}

section {
  min-height: 200px;
  padding: 6% 0;
  
}

  
  .hamburger {
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 5px 0;
    background: gray;    
    color: white;
  
  }
  .opening-line {
    padding: 20px;
    color: #7AADA0;
    font-family: 'Oleo Script', cursive;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;

  }
  .about-me-text {
    color: #7AADA0;
    font-family: 'Fauna One', serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  
    
  }
  .get-to-know-me {
    display: flex;
    flex-direction: column;

  }

  .travel-quiz-info {
    padding: 30px;
    color: #7AADA0;
    font-family: 'Fauna One', serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  
  .quiz-logos {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
    color: grey;
    
  }
  .travel-quiz-title {
    display: flex;
    justify-content: center;
    font-family: 'Fauna One', serif;
    color:#B0887B;
    font-weight: bold;

  }
  .quiz-buttons {
    display: flex;
    justify-content: center;
  }

  .quiz-pic {
    display: flex;
    justify-content: center;

  }

 .contact-info-container {
   padding: 30px; 
   text-align: center;
   font-family: 'Fauna One', serif;
   color: #7AADA0;

 }
 .contact-info-text  {
   list-style-type: none;
   line-height: 30px;
 }
 .contact-info-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  color: gray;
 }


  /* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  .contact-me-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color:  #7AADA0;
    font-family: 'Fauna One', serif;
    text-align: center;


  }
  form {
    text-align: center;
  }
  textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid  #7AADA0;
  }

  footer {
    color :#B0887B;
    text-align: center;
    font-size: 20px;
  }

  
  @media screen and (max-width: 520px) {
    .name-header {
      padding: 20px; 
      margin: 10px;
    }
  }



  @media screen and (min-width: 520px) {

    

    .menu {
      visibility: visible;
     }
     .hamburger {
      visibility: hidden;
     }

    /* header {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
    }
   main {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     
    }
    section.product {
      width: 100%;
    }  */
}






/*Wide screen*/
@media screen and (min-width: 800px) {
  .menu {
    visibility: visible;
   }
   .hamburger {
    visibility: hidden;
   }
   
   
   /* header {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;  
   }
 
   main {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   }
   section.product{
     margin:10px; 
   } */
}