* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: rgb(218, 229, 232);
  line-height: 1.5;
  padding: 10px;
}

main {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;

}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-top: 2px solid black;
  border-bottom: 4px solid rgba(16, 15, 15, 0.078);

}

a {
  text-decoration: none;
  color: black;

}

nav a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-right: 15px;
}

li {
  margin-right: 10px;
}



.screen-shot {
  align-self: center;
  padding: 40px;

}

.pic-me {
  max-width: 60%;
  height: auto;
  margin-top: 50px;
}

img {

  max-width: 80%;
  height: auto;
  margin-top: 20px;

}



p {
  font-family: 'Actor', sans-serif;
font-size: 15px;
line-height: 35px;
text-align: justify;
text-justify: inter-word;
text-indent: 5%;
letter-spacing: 1.5px;
padding-right: 20px;
padding-left: 20px;

}


li, footer{
font-family: 'Actor', sans-serif;
font-size: 20px;
line-height: 35px;
}



h1 {
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: 2.8px;
  line-height: 40px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-top: 3px solid black;
  margin-top: 17px;
  margin-bottom: 34px;
}

.name-header {
  border: none;
}



button {
  font-size: 25px;
  border: none;
  font-family: 'Poppins', sans-serif;
  background:rgba(162, 158, 158, 0.475);;
  background-color: rgba(162, 158, 158, 0.475);
  font-weight: bold;
  border: 1px black solid
}

header {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}


.menu ul {
position: relative;
float: left;

}
.menu li{
  margin-right: 5px;
  font-weight: bold;
  padding: 0px;
  list-style:  none;
}

section {
  min-height: 200px;
  padding: 6% 0;
  
}

 
  .about-me-container {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  .travel-quiz-info {
    padding: 30px;
  }
 
  
  .quiz-logos, .bk-logos{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 47px;
    cursor: pointer;

}

 .contact-info-container {
   padding: 30px; 
 }
 .contact-info-text  {
  list-style-type: none;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  
 }

 .fa-envelope-square:before {
   font-size: 38px;
 }

 .contact li {
  list-style-type: none;
  padding-right: 25px;
  font-size: 38px;

 }

 .contact {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
   font-size: 20px;
 }
 .contact-info-logos {
  font-size: 30px;
  display: flex;
  flex-direction: row;
 }

 .location {
  list-style-type: none;
  display: flex;
  justify-content: center;
 }


 footer{
  font-family: 'Actor', sans-serif;
  font-size: 10px;
  margin-top: 10px;
  }

  @media screen and (min-width: 460px) {
  

    button {
      text-decoration: none;
      font-size: 20px;
      font-family: 'Indie Flower', cursive;
      font-weight: bold;
      cursor: pointer;

    }


    .navigation img {
      width: 150px;
      display: block;
      float: left;
      margin-top: 20px;
    }

    h1 {
      font-size: 25px;
      padding-right: 70px;
      padding-left: 70px;
    }

    .menu {
      display: none;
      list-style-type: none;
      display: flex; 
      justify-content: space-evenly;
      padding: 5px 5px 5px 0;
      color: white;
    }
    ul.menu{
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-bottom: 5px
    }
  
   a {
    font-size: 25px;
    
   }
   
   .menu li {
     padding: 0px;
   }
    
  }

  @media screen and (min-width: 720px) {

    body 
    {
      padding: 30px;
    }

    a {
      font-size: 30px;
    }

    .about-me-container {
      padding: 30px;
    }

    h1 {
    
      font-size: 25px;
    }


    h2 {
      font-size: 30px;
    }

    img

    h3 {
      font-size: 25px;
    }

    .contact-info-text li {

      margin-right: 20px;
    }

    /* .about-section {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    } */

    pic-me , img {
      max-width: 49%;
      height: auto;
  
    }


  }