* {
  box-sizing: border-box;
}

html{
  display: flex;
  justify-content: center;

}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

body {
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
  margin: .01px;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-top: 2px solid black;
  border-bottom: 4px solid rgba(16, 15, 15, 0.078);
  background-color: rgb(218, 229, 232);

}


section {
  display: flex;
  flex-direction: column;
  text-align: center;
 
}

.work {
  margin-right: 50px;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  animation: infinite;
  -webkit-animation: infinite; 

}
a:active {
  color: plum;
}

nav a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-right: 15px;
}

li {
  margin-right: 10px;
}

.brand {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  background-image: url(./assets/about/desk.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  background-color: rgb(218, 229, 232);
}
.name { 
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(239, 242, 243) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  height: -webkit-fill-available;
  margin: 0px;
  padding: 40px;

}


.scroll-btn {
    /* padding-bottom: 100px; */
    font-size: 40px;
    padding-right: 0px;
    width: auto;
    height: auto;
    padding-top: 100px;
}

.about  {
  background-color: white;
  padding-top: 100px;
}

.pic-brand {
  margin-top: 100px;
  width: 500px;
  align-self: center;
  padding: 20px;
}

.fas fa-arrow-alt-circle-down {
  display: flex;
  justify-content: center;


}



.screen-shot {
  align-self: center;
  padding: 40px;

}




.pic-me {
  width: 220px;
  height: auto;
  margin-top: 20px;
  /* border-right: 20px  rgb(185, 205, 211) dotted; */
  border-radius: 100%;
  border-left: 25px  rgb(185, 205, 211) dotted;
}



p {
  font-family: 'Actor', sans-serif;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 5%;
  letter-spacing: 1.2px;

}




li, footer{
font-family: 'Actor', sans-serif;
font-size: 20px;
line-height: 35px;
}



h1 {
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: 2.8px;
  line-height: 40px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 17px;
  margin-bottom: 34px;
  color: rgb(178, 205, 212);
  font-weight: bolder;
}


.name-header {
  border: none;
}



button {
  font-size: 20px;
  padding: 12px;
  border: none;
  background-color: rgba(189, 229, 239, 0.304);
  border-left: 8px rgb(178, 205, 212) dotted;
  border-radius: 50%;
  align-self: center;
  margin-top: 10px;
  margin-right: 30px;
  cursor: pointer;
  width: 80px;
  box-shadow: 0px -3px 4px 2px #88888877;
  font-weight: bolder;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}


header {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
}


.menu ul {
position: relative;
float: left;

}
.menu li{
  margin-right: 5px;
  font-weight: bold;
  padding: 0px;
  list-style:  none;
}

.about-me-text {
  padding: 20px;
}


#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  width: 20%;
}
@keyframes slider {
  0% {
      left:0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%
  }
  50%{
    left: -200%;
  }
  70% {
    left: -200%
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%
  }
  100% {
    left: -400%
  }

}


 .contact-info-container {
   padding: 30px; 
 }
 .contact-info-text  {
  list-style-type: none;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  
 }
 .fa-arrow-alt-circle-down:before {
  content: "\f358";
  box-shadow: 0px 0px 4px 3px rgb(90, 130, 142);
  border-radius: 100%;
}


@keyframes glowing {

  0% { background-color: #5f9aa9; box-shadow: 0 0 3px #8099ba; }
  50% { background-color: #8eb9bf; box-shadow: 0 0 10px #c5c9d0; }
  100% { background-color: #dce4ea; box-shadow: 0 0 3px #7899d7; }
  }
  
  .fa-arrow-alt-circle-down:before {
    animation: glowing 1300ms infinite;
    }



 .fa-envelope-square:before {
   font-size: 38px;
 }

 .contact li {
  list-style-type: none;
  padding-right: 25px;
  font-size: 38px;

 }

 .contact {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
   font-size: 20px;
 }


 .location {
  list-style-type: none;
  display: flex;
  justify-content: center;
 }


 footer{
  font-family: 'Actor', sans-serif;
  font-size: 10px;
  margin-top: 10px;
  }

  @media screen and (min-width: 460px) {
  

    button {
      font-size: 20px;

    }


    .navigation img {
      width: 250px;
      display: block;
      float: left;
      margin-top: 20px;
    }

    h1 {
      font-size: 25px;
      padding-right: 70px;
      padding-left: 70px;
    }

    .menu {
      display: none;
      list-style-type: none;
      display: flex; 
      justify-content: space-evenly;
      padding: 5px 5px 5px 0;
      color: white;
    }
    ul.menu{
      display: flex;
      flex-direction: row;
      margin-top: 23px;
      margin-bottom: 5px
    }
  
   a {
    font-size: 25px;
    
   }

   p {
    line-height: 30px;
    font: 20px
   }
   

   .menu li {
     padding: 0px;
   }

   .name {
     font-size: 50px;
     padding: 10px;
   }
    
  }

  @media screen and (min-width: 970px) {

    .about {
      padding: 100px 20px;
     
    }

    .name {
      font-size: 80px;
      line-height: 100px;
    }

    a {
      font-size: 30px;
    }

  


    h1 {
    
      font-size: 25px;
    }


    h2 {
      font-size: 80px;
    }

    img{
      width: 300px;
    }

    .scroll-btn {
      /* padding-bottom: 100px; */
      font-size: 40px;
    }

    .apps {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
    
    }
    .dearbeer, .emma, .bookmarks {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-right: 30px;
    }

    h3 {
      font-size: 25px;
    }

    .contact-info-text li {

      margin-right: 20px;
    }

    /* .about-section {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    } */

    pic-me , img {
      height: auto;
      width: 320px;
  
    }
  }